.venv/
venv/
__pycache__/
*.py[cod]
*.sqlite3
.env
staticfiles/
media/flyers/*
media/perfiles/*
!media/flyers/.gitkeep
!media/perfiles/.gitkeep
.DS_Store
.vscode/
.idea/

INICIAR_LINUX_MAC.sh
INICIAR_WINDOWS.bat
Procfile
render.yaml
build.sh
runtime.txt